@layer components {
  .bg-hero {
    background-image: url(/images/home/hero/bg-hero-bottom.png), url(/images/home/hero/bg-hero.jpg);
    background-repeat: repeat-x, no-repeat;
    background-position:
      bottom,
      84% 0;
    background-size: 14px, 420vw;
    @screen lg {
      background-position: bottom, top;
      background-size: 20px, 100vw;
    }
  }
  .bg-button-hero {
    background-image: url(/images/snowflake-white.png), url(/images/snowflake-white.png);
    background-position:
      bottom 8px center,
      top 8px center;
    background-color: no-repeat;
    background-size: 12px;
    @screen lg {
      background-position:
        bottom 12px center,
        top 13px center;
    }
  }
  .star-line,
  .star-fill {
    background-image: url(/images/rating-star.png);
    background-color: no-repeat;
    background-size: auto 1.5rem;
    @apply block h-6 w-6;
  }
  .star-line {
    background-position: right;
  }
  .star-fill {
    background-position: left;
  }

  .border-top-sky {
    @apply before:absolute before:inset-x-0 before:top-0 before:block before:h-[5px] before:bg-border-sky before:bg-repeat-space before:content-[''];
  }
}
