@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Athiti';
  src: url('fonts/Athiti/Athiti-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Athiti';
  src: url('fonts/Athiti/Athiti-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Athiti';
  src: url('fonts/Athiti/Athiti-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Athiti';
  src: url('fonts/Athiti/Athiti-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Athiti';
  src: url('fonts/Athiti/Athiti-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Camera-Obscura';
  src: url('fonts/Camera-Obscura/CameraObscuraIkiikocom-3zyGM.otf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Plam-Canyon-Drive';
  font-weight: 400;
  src: url('fonts/Plam-Canyon-Drive/PalmCanyonDrive-Light.otf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Portland';
  src: url('fonts/Portland/Portland-Black.otf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Portland';
  src: url('fonts/Portland/Portland-Bold.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Portland';
  src: url('fonts/Portland/Portland-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html {
  @apply overflow-x-hidden;
}

body {
  @apply font-athiti;
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

a {
  @apply text-[#f6e7e0];
}

.pagination-lines {
  > .swiper-pagination {
    @apply absolute left-4 right-4 top-0 z-50 flex items-center;
    span {
      @apply flex
        h-8
        w-full
        flex-grow
        items-center
        justify-center
        px-1
        before:block
        before:h-[2px]
        before:w-full
        before:rounded-[2px]
        before:bg-white/50
        before:content-[''];
    }
  }
}
.pagination-dots {
  @apply !grid
    grid-cols-[1fr_min-content_1fr]
    grid-rows-[1fr_min-content]
    gap-y-4;
  .swiper-wrapper {
    @apply col-span-3 row-span-1;
  }
  .swiper-pagination,
  .swiper-button-prev,
  .swiper-button-next {
    @apply col-span-1 row-start-2;
  }
  .swiper-button-prev,
  .swiper-button-next {
    @apply flex
        cursor-pointer
        items-center
        before:h-3
        before:w-3
        before:rotate-45
        before:transform
        before:border-[#F6E7E0]
        before:content-[''];
  }
  .swiper-button-prev {
    @apply col-start-1
        justify-end
        pr-2
        before:border-b-2
        before:border-l-2;
  }
  .swiper-button-next {
    @apply col-start-3
        justify-start
        pl-2
        before:border-r-2
        before:border-t-2;
  }
  .swiper-pagination {
    @apply col-start-2
      flex
      items-center
      justify-center;

    span {
      @apply flex
        h-6
        w-6
        cursor-pointer
        items-center
        justify-center
        px-1
        before:block
        before:h-3
        before:w-3
        before:rounded-full
        before:border-2
        before:border-[#F6E7E0]
        before:bg-transparent
        before:content-[''];
      &.swiper-pagination-bullet-active {
        @apply before:bg-[#8DC8E8];
      }
    }
  }
  &.dark-foreground {
    /* @apply grid grid-flow-row grid-cols-[1fr_min-content_1fr] gap-y-4 pb-4; */
    .swiper-button-prev,
    .swiper-button-next {
      @apply before:border-[#532826];
    }
    > .swiper-pagination {
      span {
        @apply before:border-[#532826];
        &.swiper-pagination-bullet-active {
          @apply before:bg-[#532826];
        }
      }
    }
  }
}

@layer components {
  .bg-hero {
    background-image: url(/images/home/hero/bg-hero-bottom.png), url(/images/home/hero/bg-hero.jpg);
    background-repeat: repeat-x, no-repeat;
  }
  .bg-button-hero {
    background-image: url(/images/snowflake-white.png), url(/images/snowflake-white.png);
    background-position:
      bottom 8px center,
      top 8px center;
    background-color: no-repeat;
    background-size: 12px;
    @screen lg {
      background-position:
        bottom 12px center,
        top 13px center;
    }
  }

  .star-line,
  .star-fill {
    background-image: url(/images/rating-star.png);
    background-color: no-repeat;
    background-size: auto 1.5rem;
    @apply block h-6 w-6;
  }
  .star-line {
    background-position: right;
  }
  .star-fill {
    background-position: left;
  }

  .border-top-sky {
    @apply before:absolute
      before:inset-x-0
      before:top-0
      before:block
      before:h-[5px]
      before:bg-border-sky
      before:bg-repeat-space
      before:content-[''];
  }

  .border-bottom-sky {
    @apply after:absolute
      after:inset-x-0
      after:bottom-0
      after:block
      after:h-[5px]
      after:bg-border-sky
      after:bg-repeat-space
      after:content-[''];
  }

  .border-bottom-sky-lg {
    @apply after:absolute
      after:inset-x-0
      after:bottom-0
      after:block
      after:h-[10px]
      after:bg-border-sky
      after:bg-repeat-space
      after:content-[''];
  }

  .border-pyramid-top {
    @apply before:absolute
      before:inset-x-0
      before:top-0
      before:z-10
      before:block
      before:h-[7px]
      before:bg-border-pyramid-top
      before:bg-contain
      before:bg-repeat-x
      before:content-[''];
  }

  .border-pyramid-bottom {
    @apply before:z-10 after:absolute after:inset-x-0 after:bottom-0 after:block after:h-[7px] after:bg-border-pyramid-bottom after:bg-contain after:bg-repeat-x after:content-[''];
  }

  .bg-add-to-cart {
    background-image: url('/images/add-to-bag.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
  .text-shadow {
    text-shadow: 0px 1px 2px #000000;
  }
}
